div {
  display: block;
}
img{
padding-bottom: auto
}
.fondB {
  background-image: linear-gradient(#4E69A2, #395693);
  width: 1038px;
  height: 83px;
  border-bottom: solid 1px #1C316A;
}
.fond {
  max-width: 1038px;
  height: 611px;
  background-image: linear-gradient(#F3F3F3, #D3D8E8);
}
.contenu {
  width: 980px;
  height: 611px;
}
.contenuExt {
  margin: 0 auto;
  width: 980px
}
.contenuExtT {
  margin: 0 auto;
  padding-top: 13px;
  width: 980px;
  height:71px;
}
.floatG {
  float: left;
  width: 580px;
  height: 297px;
}
.separate {
  margin-right: 15px;
  width: 565px;
  height: 257px;
}
.police{
  color:#FEFEFE;
  font-size: 50px;
  font-family: ;
  width: 220px;

}
.bar{
  width: 422px;
  height:64px;

}
